* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.avatar{
  display:flex;
  align-items:center;
  margin-left: 250px;
}
  .avatar > img{
    width: 35px;
    border-radius: 20px;
    cursor: pointer;
  }
  .avatar > label{
    font-size: 14px;
    color: #ccc;
    cursor: pointer;
  }

  @media screen and (max-width: 600px) {
    .avatar > label{
      display: none;
    }
  }
